<section class="about__container">
    <div class="about grid grid--1x2">
      <div class="about__text">
        <h2 class="about__heading">
          The best SEO solution with 10 years of experience
        </h2>
        <p class="about__paragraph">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit.
          Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit,
          sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod
          magna dolore erat amet
        </p>
        <ul class="list grid grid--1x2">
          <li class="item">Award Winnig</li>
          <li class="item">Profesional Staff</li>
          <li class="item">24/7 Support</li>
          <li class="item">Fair Prices</li>
        </ul>
        <div class="btn__and-icons">
          <span class="btn btn--secondary">Read More</span>
          <span class="about__icon-container">
            <i class="fa-brands fa-facebook fa-2x"></i>
          </span>
          <span class="about__icon-container">
            <i class="fa-brands fa-instagram fa-2x"></i>
          </span>
          <span class="about__icon-container">
            <i class="fa-brands fa-youtube fa-2x"></i>
          </span>
          <span class="about__icon-container">
            <i class="fa-brands fa-twitter fa-2x"></i>
          </span>
        </div>
      </div>
      <div class="about__image">
        <img src="/Images/about.jpg" alt="">
      </div>
    </div>
  </section>