<section class="call-to-action__container">
    <div class="call-to-action grid grid--1x2">
      <div class="call__text">
        <h2 class="call__heading">Ready To Get Started</h2>
        <p class="call__paragraph">Lorem ipsum dolor sit amet.</p>
        <div class="input-group">
          <input type="text" class="input" placeholder="Search">
          <img src="/Images/send.svg" alt="">
        </div>
    
      </div>
      <div class="call__image grid">
        <img src="/Images/newsletter.png" alt="">
      </div>
    </div>
  </section>