<div class="grid">
    <div class="at1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione voluptas sed, fugit harum atque sapiente optio veniam! Mollitia harum nihil vero corporis placeat ea doloribus, nam temporibus fugiat earum. Expedita?</div>
    <div class="at2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, reprehenderit recusandae hic possimus nulla quod saepe, voluptatibus, architecto facere ab dolores soluta perspiciatis fugiat autem similique error officiis aspernatur. Iste.
    </div>
    <div class="at3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eius repellendus dignissimos non possimus voluptatem atque consequuntur assumenda laboriosam placeat nihil modi obcaecati aliquid quas, natus at officiis sunt ullam?
    </div>