<section class="our-team__container">
    <div class="our-team grid grid--1x2 grid--1x3">
      <div class="member">
        <div class="member__profile">
          <div class="member__accounts">
            <span class="brand__container"
              ><i class="fa-brands fa-twitter fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-facebook fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-linkedin fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-whatsapp fa-4x"></i
            ></span>
          </div>
          <div class="member__picture">
            <img src="/Images/team-1.jpg" alt="" />
          </div>
        </div>
        <div class="member__name">
          <h3 class="name">
            Michael Oxmol<br />
            <span class="profile__profession">Author</span>
          </h3>
        </div>
      </div>
      <div class="member">
        <div class="member__profile">
          <div class="member__accounts">
            <span class="brand__container"
              ><i class="fa-brands fa-twitter fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-facebook fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-linkedin fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-whatsapp fa-4x"></i
            ></span>
          </div>
          <div class="member__picture">
            <img src="/Images/team-2.jpg" alt="" />
          </div>
        </div>
        <div class="member__name">
          <h3 class="name">
            Anne Marie <br />
            <span class="profile__profession">Author</span>
          </h3>
        </div>
      </div>
      <div class="member">
        <div class="member__profile">
          <div class="member__accounts">
            <span class="brand__container"
              ><i class="fa-brands fa-twitter fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-facebook fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-linkedin fa-4x"></i
            ></span>
            <span class="brand__container"
              ><i class="fa-brands fa-whatsapp fa-4x"></i
            ></span>
          </div>
          <div class="member__picture">
            <img src="/Images/team-3.jpg" alt="" />
          </div>
        </div>
        <div class="member__name">
          <h3 class="name">
            John Baloz <br />
            <span class="profile__profession">Author</span>
          </h3>
        </div>
      </div>
    </div>
  </section>