<section class="oursevices__container">
    <div class="oursevices grid grid--1x2 grid--1x3">
      <div class="solution-card">
        <div class="solution__img-container"><i class="fa-brands fa-searchengin fa-2x"></i></div>
        <h2 class="solution__title">SEO Optimization</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-solid fa-mobile-screen-button fa-2x"></i></div>
        <h2 class="solution__title">App Developemnt</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-solid fa-desktop fa-2x"></i></div>
        <h2 class="solution__title">Web Developemnt</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-solid fa-users-viewfinder fa-2x"></i></div>
        <h2 class="solution__title">SQA</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-solid fa-file-word fa-2x"></i></div>
        <h2 class="solution__title">Copywriting</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-brands fa-codepen fa-2x"></i></div>
        <h2 class="solution__title">UI/UX</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
       <div class="solution-card">
        <div class="solution__img-container"><i class="fa-solid fa-glasses fa-2x"></i></div>
        <h2 class="solution__title">AR/VR</h2>
        <p class="solution__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero, illum quia quas in veritatis!</p>
        <div class="btn btn--primary">Read More</div>
       </div>
    </div>
  </section>