<div class="footer__container">
    <footer class="grid grid--1x2 grid--1x3 grid--1x4">
      <ul class="list">
        <li class="item">
          <h3>Get In Touch</h3>
        </li>
        <li class="item">
          <i class="fa-solid fa-location-dot"></i>
          123 Street, New York, USA
        </li>
        <li class="item">
          <i class="fa-sharp fa-solid fa-phone"></i>
          +91 87898877212
        </li>
        <li class="item">
          <i class="fa-solid fa-envelope"></i>
          seodude@gmail.com
        </li>
        <li class="item">
          <span class="footer__icon-container">
            <i class="fa-brands fa-facebook"></i>
          </span>
          <span class="footer__icon-container">
            <i class="fa-brands fa-instagram"></i>
          </span>
          <span class="footer__icon-container">
            <i class="fa-brands fa-youtube"></i>
          </span>
          <span class="footer__icon-container">
            <i class="fa-brands fa-twitter"></i>
          </span>
        </li>
      </ul>
      <ul class="list">
        <li class="item">
          <h3>Popular Link</h3>
        </li>
        <li class="item">> About Us</li>
        <li class="item">> Contact Us</li>
        <li class="item">> Privacy Policy</li>
        <li class="item">>Terms and Conditions</li>
        <li class="item">> Career</li>
      </ul>
      <ul class="list">
        <li class="item">
          <h3>Project Galery</h3>
        </li>
        <li class="item">Award Winnig</li>
        <li class="item">ffffff</li>
        <li class="item">ffffff</li>
      </ul>
      <div class="footer__newsletter grid">
        <h3 class="newsletter__title">Newsletter</h3>
        <p class="newsletter__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga qui
          sequi
        </p>
        <div class="input-group">
          <input type="text" class="input" placeholder="Search" />
          <img src="/Images/send.svg" alt="" />
        </div>
      </div>
    </footer>
  </div>